<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6" *ngFor="let item of list">
      <div class="card">
        <div class="card-body">
          <div class="row" *ngFor="let leg of item.legModellist">
            <div class="col-lg-2">
              <img height="50" width="50"  src="{{leg.airLineImageUrl()}}" />
            </div>
            <div class="col-lg-2">
              <div class="h4 m-0">{{leg.departureDisplayTime()}}</div>
              <div>{{leg.departure_airport}}</div>
            </div>
            <div class="col-lg-1">
              <i class="icon-arrow-right icons font-2xl d-block mt-2 clearfix"></i>
            </div>
            <div class="col-lg-2" >
              <div class="h4 m-0">{{leg.arrivalDisplayTime()}}</div>
              <div>{{leg.arrival_airport}}</div>
            </div>
            <div class="col-lg-3">
            </div>
            <div class="col-lg-2 text-lg-right">
              <div class="h5 m-0">{{leg.tripDisplayTime()}}</div>
              <div>{{leg.stopsDisplay()}}</div>
            </div>
          </div>
          <div class="row">
            
          </div>

          <div class="row">
            <div class="col-lg-10">
              <br />
              <div class="h1 m-0">{{item.price}}</div>
              <small>{{item.agent}}</small>
              <br />
              <small class="text-muted">{{item.agent_rating}}</small>
            </div>
            <div class="col-lg-2">
              <br />
              <button class="btn btn-primary pull-right" type="button">Select</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>